<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>YelpCamp</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                    <a class=" navbar-text navbar-link" href="/campgrounds">Campgrounds</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if (!currentUser) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
        </nav>
        
            <% if (flashError && flashError.length > 0) { %>
                <div class="container">
                    <div class="alert alert-danger"><%= flashError %></div>
                </div>
            <% } else if (flashSuccess && flashSuccess.length > 0) { %>
                    <div class="container">
                        <div class="alert alert-success"><%= flashSuccess %></div>
                    </div>
            <% } %>
