<% include partials/header %>
    <h1>Register</h1>
    <div class="container">
        <div style="width: 35%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" type="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <% include partials/footer %>
