<% include ../partials/header %>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Edit <%= campground.name %></h1>
                <div style="width: 35%; margin: 25px auto;">
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= campground.name %>" name="campground[name]">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" value="<%= campground.price %>" name="campground[price]" min="0.01" step="0.01">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= campground.image %>" name="campground[image]">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= campground.description %>" name="campground[description]">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                    <a href="/campgrounds">Go Back</a>
                </div>
            </div>
        </div>
<% include ../partials/footer %>