<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-large btn-primary" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(camp => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= camp.image %>">
                 <!--width="500" height="320" -->
                 <div class="caption">
                    <h4><%= camp.name %></h4>
                    <a href="/campgrounds/<%= camp.id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    <% })%>
    </div>
</div>
<% include ../partials/footer %>