<% include ../partials/header %>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Create New Campground</h1>
                <div style="width: 35%; margin: 25px auto;">
                    <form action="/campgrounds" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="name" name="name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" placeholder="price" name="price" min="0.01" step="0.01">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="image url" name="image">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="description" name="description">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                    <a href="/campgrounds">Go Back</a>
                </div>
            </div>
        </div>
<% include ../partials/footer %>